@import '/src/common/theme.css';
/* flex 살펴보기 */

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

.case-01 {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  border: 1px solid red;
  /* padding: 10px; */
  inline-size: 722px;
  block-size: 522px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* column-gap, row-gap을 함께 지정할 수 있는 단축 속성 */
  gap: 20px;

  [class*='item'] {
    /* margin-block: 10px; */
    border: 1px solid currentColor;
    background: var(--pastel-yellow);
    /* inline-size: 100px;
    block-size: 100px; */
    text-align: center;
    align-content: center;
    /* 기존의 세로 기준 가운데 정렬을 지원하지 않을 때 사용하던 트릭 */
    /* line-height: 100px; */
  }

  .item1 {
    /* inline-size: 200px; */
    font-size: 48px;
  }

  .item2 {
    font-size: 30px;
  }
}

.case-02 {
  border: 1px solid green;
  width: 502px;
  inline-size: 502px;
  display: flex;
  flex-flow: row nowrap;

  [class^='item'] {
    border: 1px solid currentColor;
    /* width: 100px;
    inline-size: 100px;
    height: 100px;
    block-size: 100px; */
    text-align: center;
    align-content: center;
    /* 아이템 가로 길이를 지정해준, 값을 지정한 경우 width값보다 우선순위가 높음 */
    flex-basis: 200px;
    /* 아이템 총 길이보다 컨테이너가 커서 여백이 남았을때 균등하게 나누어서 아이템에 여백을 부여함 */
    flex-grow: 0;
    /* 아이템들의 길이가 부모보다 클경우 동일하게 조금씩 줄이는 속성들들 */
    flex-shrink: 1;
    float: 0 1 200px;

    &:nth-child(even) {
      order: -1;
      /* flex-grow: 2; */
    }
  }
}
