@import '/src/common/best-reset.css';
@import '/src/common/theme.css';
@import '/src/ui/components/avatar/avatar.css';

body {
  margin: 50px;
}

h1 {
  margin-block: 20px;
}

/* Stacking context */
/* case 1 */
.case-01 {
  background: yellow;
  display: flex;
  flex-flow: row nowrap;

  .button-avatar {
    margin-right: -20px;
    position: static;
    /* filter: blur(5px); */
    transition: rotate 2000ms;

    &:hover,
    &:focus {
      /* 아바타의 겹치는 순서를 제어하기 위해 0보다 큰 값 지정 */
      z-index: 10;
      transform: scale(1.5) translate(0, -20px);
      /* opacity: 0.8; */
      filter: sepia(60%);
      rotate: -3turn;
    }

    &::after {
      display: none;
    }
  }
}

/* Transition */
/* case 2 */

.case-02 {
  margin-block-start: 20px;
  display: flex;
  gap: 20px;

  [class*='area'] {
    inline-size: 100px;
    block-size: 100px;
    border: 1px solid currentColor;
    text-align: center;
    align-content: center;
    background: var(--pastel-lavender);
    /* transition-property: background, border-radius;
    transition-duration: 0.2s, 0.1s;
    transition-delay: 0s, 2s;
    transition-timing-function: ease; */
    /* transition:
      background 2s 0s ease,
      border-radius 1s 2s ease; */

    transition: all 2s;

    &:hover {
      background: var(--pastel-orange);
      border-radius: 50%;
    }
  }
}

.case-03 {
  /* background: yellow; */
  margin-block-start: 50px;
  display: flex;

  [class*='test'] {
    display: inline-block;
    /* position: relative; */
    border: 2px solid black;
    inline-size: 100px;
    block-size: 100px;
    margin-left: -20px;
    text-align: center;
    align-content: center;
    transition: all 2s 0s ease;
    border-radius: 50%;

    &:hover {
      z-index: 1;
      transform: scale(2);
    }
  }

  .test1 {
    background: red;
  }

  .test2 {
    background: orange;
  }

  .test3 {
    background: yellow;
  }

  .test4 {
    background: green;
  }
}
