/* 클래스 선택자 */
/* 배경 색상 변경 */

/* font-variant로도 변경가능하지만 소문자로 변해서 다른 속성을 적용해보았음 */
.member-service {
  background-color: yellow;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.5;
  font-size: 0;
}

/* 태그 선택자 */
/* 웹브라우저 스타일(밑줄)을 재정의 */
/* 웹브라우저 링크 스타일(색상)을 재정의 (상속) */

/* a요소이면서 가상요소 선택자 */
.item::before {
  content: ':';
  padding-left: 16px;
  padding-right: 16px;
}

.item {
  text-decoration: none;
  color: inherit;
  background-color: pink;
  font-size: 0.875rem;
}

/* a 요소보다 우선순위 */
.first::before {
  content: '';
}

.botanic {
  a {
    text-decoration: none;
    color: inherit;
  }

  a::before {
    content: '| ';
  }

  .first::before {
    content: '';
  }

  a::first-letter {
    text-transform: uppercase;
  }
}

/* UL 요소를 활용한 구조 예시 */

.member-link {
  background-color: greenyellow;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 0;
  text-align: right;

  li {
    display: inline-block;
  }
  * {
    display: inline-block;
    font-size: 0.875rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    background-color: green;
    padding: 1rem 1rem;
  }

  a:focus {
    color: aquamarine;
  }

  a:hover {
    color: blue;
  }

  span {
    margin: 8px 8px;
  }
}
