@import '/src/common/mini-reset.css';

:root {
  --green: green;
  --gray: gray;

  --small: 0.75rem;
  --medium: 0.875rem;
  --large: 1.125rem;

  --spacing-10: 0.625rem;
  --spacing-20: 1.25rem;
  --spacing-70: 4.375rem;

  --gap: 5px;

  --bold: 700;
}

body {
  margin: 50px;
}

h1 {
  margin-bottom: 50px;
}

.notification {
  /* background-color: yellow; */
  padding: 30px;
  display: flow-root;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background: beige;

  img {
    /* border: 1px solid red; */
    float: left;
    padding-right: var(--spacing-20);
    position: relative;
    top: var(--spacing-10);
  }

  .notification-text {
    /* border: 1px solid red; */
    float: left;

    .notification-subject {
      font-size: var(--large);
      font-weight: var(--bold);
      color: var(--green);
    }

    .notification-content {
      font-size: var(--medium);
      color: var(--gray);
      margin-top: var(--gap);
    }
  }

  .notification-time {
    /* border: 1px solid red; */
    float: right;
    font-size: var(--small);
    font-weight: var(--bold);
    color: var(--green);
  }
}
