@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';

.container {
  display: grid;
  padding: 20px;
  /* grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(12, 100px); */

  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
    max-width: 800px;
    margin: 0 auto;

    .header,
    .navigation,
    .footer {
      grid-column: 1 / -1;
    }
    .content,
    .sidebar {
      grid-column: span 6;
    }
  }

  @media (min-width: 1024px) {
    max-width: 1280px;
    .navigation,
    .sidebar {
      grid-column: span 3;
    }
  }
}

/* 헤더 */
.header {
  background: var(--pastel-coral);
  height: 10vh;
  /* grid-row: 1 / 1;
  grid-column: 12 /1; */
}

/* 내비게이션 */
.navigation {
  background: var(--pastel-green);
  height: 15vh;
  /* grid-row: 2 / 1;
  grid-column: 12 /2; */
}

/* 메인 콘텐츠 */
.content {
  background: var(--pastel-aqua);
  height: 40vh;
}

/* 사이드 바 */
.sidebar {
  background: var(--pastel-yellow);
  height: 25vh;
}

/* 푸터 */
.footer {
  background: var(--pastel-lavender);
  height: 10vh;
}
