@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/base.css';
@import '/src/common/a11y.css';

body {
  margin: 20px;
}

/* 카드 컴포넌트 */

.card {
  border: 1px solid var(--black);
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
  padding: 1rem;

  .thumbnail {
    background: yellow;

    img {
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      object-position: 0 0;
    }
  }

  .subject {
    font-size: large;
    font-weight: 700;
  }

  .content {
    line-height: 1.5;
  }

  .more {
    background: var(--blue-400);
    color: var(--white);
    display: inline-flex;
    justify-content: center;
    padding: 10px;
  }
}

.container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(4, auto);

  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
  }
}
