@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

.masonry-layout {
  columns: 1;
  column-gap: 1em;

  @media (min-width: 640px) {
    columns: 2;
  }

  @media (min-width: 768px) {
    columns: 3;
  }

  @media (min-width: 1024px) {
    columns: 4;
  }

  @media (min-width: 1280px) {
    columns: 5;
  }

  @media (min-width: 1440px) {
    columns: 6;
  }

  figure {
    display: grid;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    margin-block: 2em;

    &:nth-child(1) {
      margin-top: 0;
    }

    img,
    figcaption {
      grid-area: 1 / 1 / 2 / 2;
      width: 100%;
    }

    img {
      filter: sepia();

      &:hover {
        filter: none;
      }
    }

    figcaption {
      place-self: end start;
      padding: 5px;
      background: black;
      color: var(--white);
      opacity: 60%;
      background: rgb(0 0 0 /0.7);
    }
  }
}
