@import '/src/common/best-reset.css';

body {
  margin: 10px;
}

fieldset {
  padding: 10px;
}

.like-lion {
  border: 1px solid black;
  border-spacing: 0;
  text-align: center;
  margin-bottom: 20px;

  th,
  td {
    border: 1px solid black;
    padding: 8px;
  }
}

.lion {
  border: 1px solid currentColor;
  border-spacing: 0;
  text-align: center;

  th,
  td {
    border: 1px solid currentColor;
    padding: 2px 4px;
  }
}

body {
  background: linear-gradient(red, blue);
  height: 100vh;
}
